{% extends "base.html" %}

{% block content%}



	<br><h3>Enter Product:</h3><br>
    <form method="post">

        {{ form.hidden_tag() }}
        {{ form.product_name.label(class="form-label") }} {{ form.product_name(class="form-control") }}
        {{ form.product_description.label (class="form-label")}} {{ form.product_description(class="form-control") }}
        {{ form.product_price.label(class="form-label") }} {{ form.product_price(class="form-control") }}
        {{ form.product_quantity.label (class="form-label")}} {{ form.product_quantity(class="form-control") }}

       <br>{{ form.submit(class="btn btn-secondary") }}
    </form>
    <br><br>
    <a href="{{url_for('products.productlist')}}">Product List</a>
		
    


{% endblock %}


