{% extends "base.html" %}

{% block content%}



	<br><h3>Enter New Order:</h3><br>
    <form method="post">

        {{ form.hidden_tag() }}
        {{ form.customer_id.label (class="form-label")}} {{ form.customer_id(class="form-control") }}
        {{ form.product_id.label (class="form-label")}} {{ form.product_id(class="form-control") }}
        {{ form.order_date.label(class="form-label") }} {{ form.order_date(class="form-control") }}
        {{ form.order_quantity.label (class="form-label")}} {{ form.order_quantity(class="form-control") }}


       <br>{{ form.submit(class="btn btn-secondary") }}
    </form>

		

{% endblock %}
