{% extends "base.html" %}

{% block content%}



	<br><h3>Enter New Order:</h3><br>
    <form method="post">

        {{ form.hidden_tag() }}
        {{ form.customerid.label (class="form-label")}} {{ form.customerid(class="form-control") }}
        {{ form.productid.label (class="form-label")}} {{ form.productid(class="form-control") }}
        {{ form.orderdate.label(class="form-label") }} {{ form.orderdate(class="form-control") }}
        {{ form.quantity.label (class="form-label")}} {{ form.quantity(class="form-control") }}


       <br>{{ form.submit(class="btn btn-secondary") }}
    </form>

		

{% endblock %}
