<!--index.html-->

{% extends 'base.html' %}

{% block content %}

    <br><br>

    <h1>Project: Z-Commerce</h1>


    <br><br>

    <p> This will evolve into a simple web application that will take orders, check them against the stock, the customer bank balance, accept or reject the orders, then update the stock and account balances as needed.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, voluptatem aspernatur beatae est, omnis corporis rerum magnam eveniet corrupti nisi maxime quas quasi nemo quos provident obcaecati odit quidem molestias.

    </p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut ad amet rem earum officiis corporis placeat asperiores enim voluptas commodi. Mollitia id impedit, inventore culpa enim assumenda iure necessitatibus consectetur?</p>

{% endblock %} 
