{% extends "base.html" %}

{% block content%}



    <br><h3>Customer List:</h3><br>

    

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Account Balance</th>
        </tr>
        </thead>
        <tbody>
        {% if customers %}
            {% for customer in customers %}
            <tr>
                <!--<td>{{ customer.id }}</td>-->
                <td><a href="{{ url_for('customers.updatecustomer', customer_id=customer.id) }}">{{ customer.id }}</a></td>
                <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                <td>{{ customer.address1 }}
                    {% if customer.address2 %}
                        <br>{{ customer.address2 }}
                    {% endif %}</td>
                <td>{{ customer.city }}, {{ customer.state }}</td>   
                <td>{{ customer.bank_balance | currency }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <a href="{{url_for('customers.newcustomer')}}">Add Customer</a><br><br>
		

{% endblock %}

